.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.input {
  display: grid;
}
/* .container .all{
  margin-top: 100px;
  padding: 5px 15px;
  border: 1px solid black;
} */
.container img {
  width: 60px;
  padding: 15px;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
}
/* .container img:hover {
  background-color: rgb(180, 178, 178);
  transform: scale(1.2);
} */

.container img:active {
  background-color: rgb(108, 108, 109);
}
.all .p {
  background-color: white;
  padding: 5px 0;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.all .p:hover {
  background-color: rgb(180, 178, 178);
}
.icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s;
}
.icon:hover {
  background-color: rgb(180, 178, 178);
  transform: scale(1.1);
  cursor: pointer;
}
.icon p{
  font-size: 18px;
}
